:root {
    --white-title-color: #ffffff;
    --text-color: #9da4bd;
    --grey-color: rgba(157, 164, 189, 0.6);
    --sticky-color: rgb(255, 106, 0);
    --sticky-rgba: rgb(255, 106, 0, 0.5);
    --hover-color: #FF6C00;
    --black-text-color: #303030;
    --description-color: #555555;
    --background-color: #F7F7F7;
    --Online-registration: #191C26;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --color-text-form: rgba(157, 164, 189, 0.4);
}

/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} */

body {
    font-family: 'Open Sans', sans-serif;
}

/* глобальне оформлення тексту */

h1,
h2 {
    font-family: 'Raleway';
}

h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;

    letter-spacing: 0.05em;
}

h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.hero-list__link,
.pretitle,
.switch__back,
.switch__front,
.features__text,
.footer__link,
.footer-box__text,
.work-time__title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}

.pseudo {
    display: flex;
    align-items: center;
}

.pseudo::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    border: 1px solid transparent;
    margin-right: 20px;
}

.footer .pseudo::before,
.hero .hero-list__link.pseudo::before {
    margin-right: 40px;
}

.hero .pseudo::before,
.price .pseudo::before,
.online-entry .pseudo::before {
    background: var(--grey-color);
}

.about .pseudo::before,
.statistic .pseudo::before,
.masters .pseudo::before,
.works .pseudo::before,
footer .pseudo::before {
    background: var(--black-text-color);
}

.address__text,
.address__tel,
.address__mail {
    font-style: normal;
}

.nav-list__item,
.about-box__reg,
.contacts__btn,
.contacts__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

h3,
.statement,
.about-box__heading,
.table-wrapper__list,
.statistic-info__text,
.address__text,
.address__tel,
.address__mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;

    letter-spacing: 0.02em;

}

.about-box__reg,
.contacts__btn {
    text-transform: uppercase;
}

.hero-list__link,
.footer-box__text,
.footer__link {
    letter-spacing: 0.2em;
}

.about-text,
.pretitle {
    text-transform: uppercase;
}

.hero-box{
    display: inline-flex;
    align-items: center;
}

/* кнопка галерея */

.hero-box__btn {
    position: relative;
    display: inline-flex;
    margin-left: 60px;
    border: 1px solid var(--hover-color);
    border-radius: 50px;
    width: 270px;
    height: 55px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-weight: 600;
    font-size: 35px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    background-color: var(--black-text-color);
    color: var(--text-color);

    cursor: pointer;

    transition: color 250ms var(--timing-function);
}

.hero-box__btn:hover,
.hero-box__btn:focus {
    color: var(--white-title-color);
}

.hero-box__btn::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;

    transition: transform 250ms var(--timing-function);
    /* background-color: blue; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icons/dandy.webp);
}

.hero-box__btn:hover::before {
    transform: translateY(-60px);
}

.hero-box__btn::after {
    align-items: center;
    content: "";
    position: absolute;
    display: inline-flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 20%;
    left: 25px;

    transform: translateY(calc(-20% + 69px));
    transition: transform 250ms var(--timing-function);
    /* background-color: teal; */
    background-size: cover;
    /* background-position: center; */
    background-image: url(../images/icons/pngtree.jpg);


}    

.hero-box__btn:hover::after {
    transform: translateY(-20%);
}

.switch__back,
.switch__front {
    cursor: pointer;
    letter-spacing: 0.1em;
}
.container {
    width: 1280px;
    padding: 0 55px;
    margin: 0 auto;
}

/* шапка сторінки */

@keyframes rainbow {
    0% {
        background-color: rgba(245, 9, 9, 0.5);
    }
    20% {
        background-color: rgba(245, 103, 9, 0.5);
    }
    40% {
        background-color: rgba(245, 210, 9, 0.5);
    }
    60% {
        background-color: rgba(80, 245, 9, 0.5);
    }
    80% {
        background-color: rgba(9, 245, 206, 0.5);
    }
    100% {
        background-color: rgba(221, 9, 245, 0.5);
    }
}

.sticky {
    position: sticky;
    top: 117px;
    padding: 10px;
    background-color: var(--sticky-color);
    border-radius: 25px;

    animation-name: rainbow;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: var(--timing-function);
}

.sticky:hover {
    animation-play-state: paused;
}

.works .sticky {
    z-index: 1;
}

.header__logo {
    border: 1px solid var(--white-title-color);
    background-color: white;
}   

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: linear-gradient(90deg, var(--white-title-color) 155px, var(--black-text-color) 155px);
}

.header .container {
    padding-top: 40px;
    display: flex;
    background: linear-gradient(90deg, var(--white-title-color) 155px, var(--black-text-color) 155px);
}

.nav {
    margin-left: 195px;
    margin-right: 50px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;

}

.nav-list__item {
    position: relative;
    /* border: 1px solid red; */
    
}

.nav-list__link {
    text-decoration: none;
    padding: 15px 5px;
}

.nav-list__link::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: #FF6C00;
    border-radius: 25px;
    /* opacity: 0; */
    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
}

.nav-list__link:hover::after {
    /* opacity: 1; */
    transform: scaleX(1);

}

/* альтернативний ватіант */

/* .nav-list .nav-item:not(:last-child) {
    margin-right: 40px;
} */

.nav-list {
    width: 387px;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: flex;
    margin-left: -90px;
    padding: 0;
    list-style: none;
}

.contacts__tel {
    margin-right: 40px;
}

.contacts__tel,
.about-box__reg,
.contacts__btn {
    text-decoration: none;
}

.nav-list__link,
.contacts__tel,
.about-box__reg {
    color: var(--white-title-color);
}

.contacts__btn {
    color: var(--white-title-color);
    align-self: center;
}

.contacts {
    margin-left: auto;
    align-items: center;
}

.about-box__reg,
.contacts__btn {
    display: inline-block;

    padding: 12px 20px;

    border: 1px solid var(--hover-color);
    border-radius: 25px;
}

.about-box__reg:hover,
.about-box__reg:focus {
    background-color: var(--hover-color);
    color: var(--white-title-color);
    transition: background-color 250ms var(--timing-function);
}

.contacts__btn:hover,
.contacts__btn:focus {
    background-color: var(--hover-color);
    transition: background-color 250ms var(--timing-function);
}

.hero-list__link {
    text-decoration: none;
    color: var(--black-text-color);
}

.nav-list__link:hover,
.nav-list__link:focus,
.hero-list__link:hover,
.hero-list__link:focus,
.footer__link:hover,
.footer__link:focus {
    color: var(--hover-color);
    transition: color 250ms var(--timing-function);
}

/* головна секція */

.hero {
    background: linear-gradient(90deg, var(--white-title-color) 50%, var(--black-text-color) 50%);
}

.hero .container {
    background: linear-gradient(90deg, var(--white-title-color) 155px, var(--black-text-color) 155px);
    padding-top: 272px;
    padding-left: 390px;
}

.hero-list {
    transform: rotate(-90deg);
    position: absolute;
    top: 45%;
    left: 5%;
    display: flex;
}

.hero-list li:first-child {
    margin-right: 40px;
}

.hero-list,
.switch {
    margin: 0;
    padding: 0;
    list-style: none;
}

.switch {
    margin-right: 50px;
    display: flex;
    justify-content:flex-end;
}

.hero ul:last-child {
    padding-bottom: 40px;
    text-align: right;
}

.hero-box__title {
    margin: 0;
    /* padding: 0; */
}

.hero-box__title {
    color: var(--white-title-color);
    margin-bottom: 20px;
}

.statement {
    margin-bottom: 124px;
    color: var(--text-color);

}

.switch__back,
.switch__front {
    margin: 0;
    padding: 8px 0;
    border: 0;
    border-bottom: 2px solid var(--text-color);
    width: 60px;
    color: var(--text-color);
    background-color: transparent;
    text-align: left;
}

.switch__front {
    text-align: right;
}

.switch .switch__back:first-child {
    margin-right: 26px;
}

.switch__back:hover,
.switch__back:focus,
.switch__front:hover,
.switch__front:focus {
    color: var(--white-title-color);
    border-bottom: 2px solid var(--white-title-color);
    transition: color 250ms var(--timing-function),
    border-bottom 250ms var(--timing-function);
}

/* про нас */

.about .container {
    padding-top: 139px;
    padding-bottom: 121px;
}

.about-content {
    display: flex;
}

.about-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-list__img {
    margin-right: 30px;
    transform: scale(1);
    transition: transform 250ms var(--timing-function);
}

.about-list__img:hover {
    transform: scale(1.1);
    box-shadow: 12px 12px 2px 1px rgba(48, 48, 48, 1);
}

.about-box {
    margin-left: 64px;
}

.about-box__title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--black-text-color);
}

.pretitle,
.about-box__title,
.about-box__heading,
.about-us {
    margin: 0;
    /* padding: 0; */
}

.about-box__heading {
    margin-bottom: 21px;
}

.about-us {
    margin-bottom: 38px;

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.02em;

    color: var(--description-color);
}

.about .about-box__reg {
    color: var(--black-text-color)
}

/* послуги та ціни */

.price .container {
    background-image: url("../images/background/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.price-box {
    padding: 130px 55px;
    display: flex;
    flex-flow: column;
}

.price a {
    margin-top: 50px;
}

.pretitle {
    margin-bottom: 20px;
    margin-bottom: 44px;
    color: var(--black-text-color);
}

.pretitle__gray {
    color: var(--text-color);
}

.price-box__title {
    margin-top: 20px;
    margin-bottom: 44px;

    color: var(--white-title-color)
}

.table-wrapper {
    display: flex;
    justify-content: space-between;
}

.table-wrapper__table {
    padding: 30px 40px;
    width: 585px;
    height: 240px;
}

.table-wrapper__row .first::after {
    display: inline-block;
    content: "";
    width: 230px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .second::after {
    display: inline-block;
    content: "";
    width: 237px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .third::after {
    display: inline-block;
    content: "";
    width: 267px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .fourth::after {
    display: inline-block;
    content: "";
    width: 161px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .fifth::after {
    display: inline-block;
    content: "";
    width: 219px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .sixth::after {
    display: inline-block;
    content: "";
    width: 197px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .seventh::after {
    display: inline-block;
    content: "";
    width: 139px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__row .eighth::after {
    display: inline-block;
    content: "";
    width: 158px;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--grey-color);
}

.table-wrapper__table:first-child {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.table-wrapper__table:last-child {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.table-wrapper__row:not(:last-child) {
    margin-bottom: 20px;
}

.table-wrapper__list {
    padding: 0;
    color: var(--text-color);
}


/* статистика */

.features {
    display: flex;
    justify-content: center;
    padding-top: 121px;
    padding-bottom: 130px;
}    

.features__list{
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__list li:last-child {
    padding: 20px 20px;
}

.features__list li:nth-child(1),
.features__list li:nth-child(3) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.features__list li:nth-child(2),
.features__list li:nth-child(4) {
    margin-top: 30px;
}

/* альтернатива */

/* .features__list li:nth-child(2n+1) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.features__list li:nth-child(2n) {
    margin-top: 30px;
} */

.features__number,
.features__text {
    margin: 0;
    padding: 0;
}

.features__number {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;

    color: var(--black-text-color);
}

.statistic-info {
    margin-left: 130px;
    width: 500px;
}

.features__item,
.statistic-info__text {
    margin: 0;
    padding: 0;
}

.features__item {
    background-color: var(--background-color);
    text-align: center;
    width: 170px;
    height: 133px;

    padding: 20px 24px;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.features h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sup {
    font-weight: 600;
    line-height: 1.37;

    color: #FF6C00;
}

.features__text {
    color: var(--black-text-color);
}

.features__text,
.features__item {
    color: var(--black-text-color);
}

.statistic-info__text {
    color: var(--description-color);
}

/* наші майстри */

.masters {
    background-color: var(--background-color);
}

.masters-box {
    padding-top: 120px;
    padding-bottom: 120px;
}

.masters-list__item {
    text-align: center;
    perspective: (400px);
    color: var(--black-text-color);
}

.master-text,
.masters-list__item {
    margin: 0;
}

.masters__title {
    margin-top: 18px;
    margin-bottom: 40px;
}

.masters-list,
.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.masters-list {
    display: flex;
    justify-content: space-between;
}

.masters-list__img {
    width: 100%;
    height: auto;
    transition: transform 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.masters-list__img:hover {
    transform: rotate(-5deg);
}

.masters-list__name,
.masters-list__skill {
    margin: 0;
    padding: 0;
}

.masters-list__name {
    margin-top: 28px;
    margin-bottom: 7px;
    color: var(--black-text-color);
}

.masters-list__skill {
    margin-bottom: 27px;
    color: var(--hover-color);
}

.social-list {
    display: flex;
    width: 206px;
    margin: 0 auto;
}

.social-list li {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-title-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--timing-function);
}

.social-list li:hover .social-list__icon {
    fill: var(--hover-color);
    transition: fill 250ms var(--timing-function);
    
}

.social-list li:hover {
    background-color: var(--description-color);
}

.social-list li:not(:last-child) {
    margin-right: 10px;
}

/* барба */

.works-box {
    padding-top: 200px;
    padding-bottom: 60px;
}

.works-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.works-list img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.works-list__title {
    position: relative;
    overflow: hidden;
}

.hover-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--sticky-rgba);
    top: 0;
    /* display: none; */
    transform: scale(0);

}

.works-list li:hover .hover-wrapper {
    display: block;
    transform: scale(1);
    transition: transform 250ms var(--timing-function);

}

.address__text,
.address__tel,
.address__mail,
.footer-box__text {
    color: var(--text-color);
}



/* онлайн-запис */

.online-entry .container {
    background-image: url("../images/background/background5.jpg");
    background-color: var(--Online-registration);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-blend-mode: color-burn;
}

.entry {
    display: flex;
    height: 644px;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 130px;
}

.form-wrapper,
.contacts-wrapper {
    flex-basis:calc((100% - 40px) / 2) ;
}

.contacts-wrapper {
    padding-left: 150px;
}

.online-entry {
    margin: 0;
    padding: 0;
}

.online-entry,
.contacts-wrapper__title {
    color: var(--white-title-color);
}

input,
textarea {
    padding: 0;
}

.btn-send {
    margin: 0;
    padding: 0 20px;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: var(--white-title-color);
    border: 1px solid var(--hover-color);
    border-radius: 25px;
    cursor: pointer;
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--hover-color);
    transition: background-color 250ms var(--timing-function);
}

.contacts-wrapper__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
}

.address__list,
.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.address__list p,a {
    display: flex;
    align-items: center;
}

.address__list p::before,
.address__list a::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.address__list p::before {
    background-image: url("../images/icons/map-pin.svg");
    align-items: center;
}

.address__list .address__tel::before {
    background-image: url("../images/icons/phone.svg");
}

.address__list .address__mail::before {
    background-image: url("../images/icons/mail.svg");
}

.address__text {
    align-items: center;
}

.address__text,
.work-time__title {
    margin: 0;
    padding: 0;
}

.address__tel {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.work-time__title {
    margin-top: 70px;
    margin-bottom: 20px;
    color: var(--white-title-color);
}

/* форма */

.online-entry {
    margin-bottom: 30px;
}

.group {
    display: flex;
    margin-bottom: 30px;
}

.form-input__mail {
    width: 560px;
}

.form-group,
.form-group__mail {
    position: relative;
}

.input {
    width: 100%;
    color: var(--white-title-color);
}

.input:focus + .form-group__label,
.input:not(:placeholder-shown) + .form-group__label {
    transform: translateY(-40px);
    color: var(--hover-color);
}

.form-group__label {
    top: 50%;
    left: 20px;
    position: absolute;
    transform: translateY(-50%);
    transition: transform 250ms var(--timing-function);

    color: var(--color-text-form);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.363;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}



.select-title {
    margin-bottom: 0;
    text-align: center;
    color: var(--color-text-form);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.masters-choice {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.form-radio {
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    color: var(--color-text-form);
}

.form-select__titli {
    margin: 0;
    padding-bottom: 10px;
    color: var(--hover-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

.form-group__input {
    border: 0;
    background-color: transparent;
    border: 1px solid var(--color-text-form);
    border-radius: 3px;
    padding: 10px 15px;
}

.form-group__name {
    width: 270px;
    margin-right: 30px;
}

.form-group__tel {
    width: 260px;
}

.form-radio li {
    display: flex;
    align-items: center;
}

.form-radio input[type="radio"] {
    width: 17px;
    height: 17px;
}

.form-radio label {
    margin-left: 10px;
}

.form-radio__item:not(:last-child) {
    margin-bottom: 5px;
}

.form-date {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    color: var(--color-text-form);
}

.form-date label {
    margin-right: 5px;
}

.textarea-box textarea::placeholder {
    color: var(--color-text-form);
}

.text-box {
    width: 560px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 13px;
    resize: none;

    border-radius: 3px;
    background: transparent;
    border: 1px solid var(--color-text-form);
    color: var(--white-title-color);

}

/* підвал */

.footer {
    background-color: var(--background-color);
    margin-top: 68px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 125px;
    padding-bottom: 55px;
}

.footer__list {
    display: flex;
}

.footer li:first-child {
    margin-right: 40px;
}

.footer__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--black-text-color);
}

.footer__link:hover,
.footer__link:focus {
    color: var(--hover-color);
}

