.header .container {
    padding-top: 40px;
    display: flex;
    background: linear-gradient(90deg, $whitecolor 155px, $blackcolor 155px);
}

.nav {
    margin-left: 195px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.nav-list {
    width: 387px;
    justify-content: space-between;

    & .nav-list__item {
            position: relative;
        }
    
        & .nav-list__link {
            text-decoration: none;
            padding: 15px 5px;
            color: $whitecolor;
        }
    
        & .nav-list__link::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background-color: $hovercolor;
            border-radius: 25px;
            transform: scaleX(0);
            transition: transform 250ms $timingfunction;
        }
    
        & .nav-list__link:hover::after {
            transform: scaleX(1);
        }

        & .nav-list__link:hover,
        & .nav-list__link:focus {
            color: $hovercolor;
            transition: color 250ms $timingfunction;
        }
}

.nav-list,
.contacts {
    display: flex;
    margin-left: -90px;
    padding: 0;
    list-style: none;
}

.contacts {
    margin-left: auto;
    align-items: center;

    & .contacts__tel {
        text-decoration: none;
        margin-right: 40px;
        color: $whitecolor;
    }
}

.contacts__btn {
    text-decoration: none;
    color: $whitecolor;
    align-self: center;

    display: inline-block;
    padding: 12px 20px;
    border: 1px solid $hovercolor;
    border-radius: 25px;

    &:hover,
    &:focus {
        background-color: $hovercolor;
        transition: background-color 250ms $timingfunction;
    }
}