.hero {
    background: linear-gradient(90deg, $whitecolor 50%, $blackcolor 50%);

    & .container {
        background: linear-gradient(90deg, $whitecolor 155px, $blackcolor 155px);
        padding-top: 272px;
        padding-left: 390px;
    }
}

.hero-box {
    display: inline-flex;
    align-items: center;

    & .hero-box__title {
            margin: 0;
            color: $whitecolor;
            margin-bottom: 20px;
        }

    & .hero-box__btn {
        position: relative;
        display: inline-flex;
        margin-left: 60px;
        border: 1px solid $hovercolor;
        border-radius: 50px;
        width: 270px;
        height: 55px;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        font-weight: 600;
        font-size: 35px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        background-color: $blackcolor;
        color: $textcolor;
        cursor: pointer;
        transition: color 250ms $timingfunction;

        &:hover,
        &:focus {
            color: $whitecolor;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
            transition: transform 250ms $timingfunction;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/icons/dandy.webp);
        }

        &:hover::before {
            transform: translateY(-60px);
        }

        &::after {
            align-items: center;
            content: "";
            position: absolute;
            display: inline-flex;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            top: 20%;
            left: 25px;
            transform: translateY(calc(-20% + 69px));
            transition: transform 250ms $timingfunction;
            background-size: cover;
            background-image: url(../images/icons/pngtree.jpg);
        }    

        &:hover::after {
            transform: translateY(-20%);
            }
    }
}

.switch__back,
.switch__front {
    cursor: pointer;
    letter-spacing: 0.1em;
}

.hero-list {
    transform: rotate(-90deg);
    position: absolute;
    top: 45%;
    left: 5%;
    display: flex;

    & li:first-child {
        margin-right: 40px;
    }
    & .hero-list__link {
        text-decoration: none;
        color: $blackcolor;

        &:hover {
            color: $hovercolor;
        }
    }
}

.hero ul:last-child {
    padding-bottom: 40px;
    text-align: right;
}

.switch {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;

    & .switch__back,
    & .switch__front {
        margin: 0;
        padding: 8px 0;
        border: 0;
        border-bottom: 2px solid $textcolor;
        width: 60px;
        color: $textcolor;
        background-color: transparent;
        text-align: left;
    }

    & .switch__front {
        text-align: right;
    }

    & .switch__back:first-child {
        margin-right: 26px;
    }

    & .switch__back:hover,
    & .switch__back:focus,
    & .switch__front:hover,
    & .switch__front:focus {
        color: $whitecolor;
        border-bottom: 2px solid $whitecolor;
        transition: color 250ms $timingfunction,
        border-bottom 250ms $timingfunction;
    }
}

.hero-list,
.switch {
    margin: 0;
    padding: 0;
    list-style: none;
}

.statement {
    margin-bottom: 124px;
    color: $textcolor;
}

