.online-entry {
    margin: 0;
    padding: 0;
    color: $whitecolor;
}

.entry {
    display: flex;
    height: 644px;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 130px;

    &.container {
            background-image: url("../images/background/background5.jpg");
            background-color: $onlineregistration;
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            background-blend-mode: color-burn;
    }
}


.form-wrapper,
.contacts-wrapper {
    flex-basis: calc((100% - 40px) / 2);
}

.contacts-wrapper {
    padding-left: 150px;

    & .contacts-wrapper__title {
        color: $whitecolor;
        padding: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.btn-send {
    margin: 0;
    padding: 0 20px;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: $whitecolor;
    border: 1px solid $hovercolor;
    border-radius: 25px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $hovercolor;
        transition: background-color 250ms $timingfunction;
    }
}

.address__list {
    margin: 0;
    padding: 0;
    list-style: none;

    & .address__text,
    & .address__tel,
    & .address__mail {
        color: $textcolor;
    }

    & p,
    & a {
        display: flex;
        align-items: center;
    }

    & p::before,
    & a::before {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }

    & p::before {
        background-image: url("../images/icons/map-pin.svg");
        align-items: center;
    }

    & .address__tel::before {
        background-image: url("../images/icons/phone.svg");
    }

    & .address__mail::before {
        background-image: url("../images/icons/mail.svg");
    }

    & .address__text {
        align-items: center;
        padding: 0;
    }

    & .address__tel {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        text-decoration: none;
    }
}

.work-time__title {
    margin-top: 70px;
    margin-bottom: 20px;
    color: $whitecolor;
}