.online-entry .container {
    background-image: url("../images/background/background5.jpg");
    background-color: var(--Online-registration);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-blend-mode: color-burn;
    padding: 0 55px;
}

.entry {
    display: flex;
    height: 644px;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 130px;
}

.form-wrapper,
.contacts-wrapper {
    flex-basis: calc((100% - 40px) / 2);
}

.contacts-wrapper {
    padding-left: 150px;
}

.online-entry {
    margin: 0;
    padding: 0;
}

.online-entry,
.contacts-wrapper__title {
    color: var(--white-title-color);
}

input,
textarea {
    padding: 0;
}

.btn-send {
    margin: 0;
    padding: 0 20px;
    width: 160px;
    height: 40px;
    background-color: transparent;
    color: var(--white-title-color);
    border: 1px solid var(--hover-color);
    border-radius: 25px;
    cursor: pointer;
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--hover-color);
    transition: background-color 250ms var(--timing-function);
}

.contacts-wrapper__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
}

.address__list,
.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.address__text,
.address__tel,
.address__mail,
.footer-box__text {
    color: var(--text-color);
}

.address__list p,
a {
    display: flex;
    align-items: center;
}

.address__list p::before,
.address__list a::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.address__list p::before {
    background-image: url("../images/icons/map-pin.svg");
    align-items: center;
}

.address__list .address__tel::before {
    background-image: url("../images/icons/phone.svg");
}

.address__list .address__mail::before {
    background-image: url("../images/icons/mail.svg");
}

.address__text {
    align-items: center;
}

.address__text,
.work-time__title {
    margin: 0;
    padding: 0;
}

.address__tel {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.work-time__title {
    margin-top: 70px;
    margin-bottom: 20px;
    color: var(--white-title-color);
}