.social-list {
    display: flex;
    width: 206px;
    margin: 0 auto;

    & li {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $whitecolor;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms $timingfunction;
    }

    & li:hover .social-list__icon {
        fill: $hovercolor;
        transition: fill 250ms var(--timing-function);
    }

    & li:hover {
        background-color: $descriptioncolor;
    }

    & li:not(:last-child) {
        margin-right: 10px;
    }
}







